*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
   background-color: #d6e1f0 ;
}
.container{
    margin: 200px auto;
    display: flex;
     align-items: center;  
    justify-content: center;   
}
.card{  
    max-width:  350px;
    height: 500px; 
    background-color: #ffffff ;
    border-radius: 10px; 
    
}
 img{
    
    padding: 10px;
    display: block;
    margin: auto;
    width: 330px;
    height: 330px;
    border-radius: 20px;
}

.h1{
    
    padding: 0 20px;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    font-style:normal;
    color: rgb(11, 37, 37);
}
.h2{
   padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    color: rgb(118, 118, 122);
}  
